.container {
    margin-top: 30px;
    margin-left: 300px;
    padding: 20px;
}
.form-title {
    margin-bottom: 25px;
    font-weight: 600;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    flex: 1;
    margin-bottom: 25px;
    margin-top: 15px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    background: #1e3c72;
    color: white;
    padding: 10px;
    text-align: left;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.cancel-btn {
    color: red;
    font-size: 22px;
    cursor: pointer;
    transition: 0.2s;
}

.cancel-btn:hover {
    transform: scale(1.2);
}